<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_offlinewalkie._tcp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Aplikacja łączy się bezpośrednio z pobliskimi iPhone’ami.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Mikrofon jest potrzebny do przesyłania głosu na żywo.</string>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleName</key>
	<string>Walki Talki</string>
</dict>
</plist>
